# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.GroupProjectUML.vpp.lck
GroupProjectUML.vpp.bak_000f
GroupProjectUML.vpp.bak_001d
GroupProjectUML.vpp.bak_002d
.gitignore
GroupProjectUML.vpp.bak_003d
GroupProjectUML.vpp.bak_004d
GroupProjectUML.vpp.bak_005d
GroupProjectUML.vpp.bak_008d
GroupProjectUML.vpp.bak_007d
GroupProjectUML.vpp.bak_009d
sh.exe.stackdump
GroupProjectUML.vpp-journal
